name: Build

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v30
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - run: nix build .#nixosConfigurations.mothership.config.system.build.toplevel

  intel-macos:
    # runs-on: macos-12 # drachenflieger is on this version but runner deprecated
    runs-on: macos-13
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v30
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - uses: DeterminateSystems/magic-nix-cache-action@main
      
      - run: nix build .#darwinConfigurations.drachenflieger.config.system.build.toplevel

  arm-macos:
    runs-on: macos-15
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v30
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - uses: DeterminateSystems/magic-nix-cache-action@main
      
      - run: nix build .#darwinConfigurations.MacBook-Pro-2.config.system.build.toplevel

      - run: nix build .#darwinConfigurations.damascus.config.system.build.toplevel
